body {
  background-color: #1C1C1C;
}


.chart-container {
  width: 600px;
  height: 600px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

canvas {
  background-color: #1c1c1e;
  border-radius: 10px;
}