body {
  background-color: #1C1C1C;
}

h1 {
  font-size: 3rem;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}

h4 {
  font-size: 18px;
  margin-bottom: -2px;
  color: white;
}

label {
  width: 100px;
  font-size: 1.2rem;
  color: white;
}

.chart-container {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.color-picker > div {
  width: 200px;
}

.options {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.options > section {
  margin-bottom: 10px;
}

.grid-settings {
  width: 100%;
  margin-bottom: 10px;
}

.grid-settings p {
  width: 90%;
  font-size: 20px;
  color: white;
}

.grid-settings  input {
  width: 100px;
  height: 20px;
}

.grid-settings button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  border: green;
  background-color: green;
  color: white;
}

.buttons {
  display: flex;
  width: 100%;
}

.buttons > .delete {
  background-color: red;
}

canvas {
  background-color: #1c1c1e;
  border-radius: 10px;
}

.legend {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: white;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 3px;
}

.button-chart {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  border: rgb(151, 6, 127);
  background-color: rgb(151, 6, 127);
  color: white;
}
